<section page-creative>
    <article class="creative">
        <h1 class="sr-only">Great Pro - Creative</h1>

        <p><a ui-sref="home"><img class="logo-sm" src="img/creative/logo-sm.png" alt="Great Pro - Creative"></a></p>

        <p><img class="logo-lg" src="img/creative/logo-lg.png" alt="Great Pro - Creative"></p>

        <p><a class="production-open"  ng-click="move('move-production-creative','production')"><img src="img/creative/production.png" alt="Great Pro - Production"></a></p>

        <p><a class="contact-open" ng-click="openContactPage('.page-creative')"><img src="img/contact/arrow.png" alt="Great Pro - Creative"></a></p>
    </article>
</section>