<section page-production>
    <article class="production">
        <h1 class="sr-only">Great Pro - Production</h1>

        <p><a ui-sref="home"><img class="logo-sm" src="img/production/logo-sm.png" alt="Great Pro - Production"></a></p>

        <p><img class="logo-lg" src="img/production/logo-lg.png" alt="Great Pro - Production"></p>

        <p><a class="creative-open" ng-click="move('move-creative-production','creative')"><img src="img/production/creative.png" alt="Great Pro - Creative"></a></p>

       <p><a class="contact-open" ng-click="openContactPage('.page-production')"><img src="img/contact/arrow.png" alt="Great Pro - Creative"></a></p>
    </article>
</section>